<!DOCTYPE html>
<html lang="en" th:replace="~{Base :: layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body>
    <section class="justify-content-center align-items-center">
        <div id="fullscreen_bg" class="fullscreen_bg">
            <div class="contentx" style="padding-left: 300px;padding-right: 300px;">
                <div class="container text-center mt-3 " th:if="${session.message}">
                    <div class="alert alert-danger  text-center" role="alert">
                        <div th:text="${session.message}"></div>
                    </div>
                </div>
            </div>
            <div class="container mt-4">

                <form class="form-signin " method="post" accept="#" th:action="@{/change-password}">
                    <div class="form-group">
                        <input name="newpassword" type="password" class="form-control"
                            placeholder="Enter NewPassword here" required="" autofocus="">
                        <button class="btn btn-sm btn-success mt-3" type="submit">
                            Change Password
                        </button>
                    </div>

                </form>
            </div>
        </div>

        </div>
        </div>
        <script>
            $(document).ready(() => {
                $('.item').removeClass('active');
                $('#base-login').addClass("active");
            });
        </script>

    </section>

</body>

</html>